[submodule "REMARKs/ctDiscrete"]
	path = REMARKs/ctDiscrete
	url = https://github.com/llorracc/ctDiscrete.git
	branch = master
[submodule "REMARKs/cstwMPC"]
	path = REMARKs/cstwMPC
	url = https://github.com/llorracc/cstwMPC.git
	branch = master
[submodule "REMARKs/BufferStockTheory"]
	path = REMARKs/BufferStockTheory
	url = https://github.com/llorracc/BufferStockTheory.git
	branch = master
[submodule "REMARKs/LiqConstr/Paper-Original"]
	path = REMARKs/LiqConstr/Paper-Original
	url = https://github.com/llorracc/LiqConstr
[submodule "REMARKs/Pandemic"]
	path = REMARKs/Pandemic
	url = https://github.com/econ-ark/Pandemic
