[submodule "REMARKs/cAndCwithStickyE"]
	path = REMARKs/cAndCwithStickyE
	url = https://github.com/llorracc/cAndCwithStickyE.git
[submodule "REMARKs/ctDiscrete"]
	path = REMARKs/ctDiscrete
	url = https://github.com/llorracc/ctDiscrete.git
	branch = master
[submodule "REMARKs/cstwMPC"]
	path = REMARKs/cstwMPC
	url = https://github.com/llorracc/cstwMPC.git
[submodule "LiqConstr"]
	path = LiqConstr
	url = https://github.com/llorracc/LiqConstr
[submodule "REMARKs/LiqConstr"]
	path = REMARKs/LiqConstr
	url = https://github.com/llorracc/LiqConstr
[submodule "cstwMPC"]
	branch = .
