name: Copy metadata
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 8 * * *'
jobs:
  copy:
    runs-on: ubuntu-latest
    steps:
    - name: Copycat
      uses: andstor/copycat-action@v3
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        src_path: REMARKs/.
        file_filter: '*.md'
        dst_path: /materials/
        dst_owner: econ-ark
        dst_repo_name: staging.econ-ark.org
        dst_branch: master
        src_branch: master
